.dashboard__grid-wrapper {
    background-color: #eeeee9;
    width: 100%;
}

.modulos-grid {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 40px 40px;
}

.dashboard {
    background-color: #eeeee9;
    min-height: 100vh;
}